<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a QR Code</title>
    <link rel="stylesheet" href="/views/style.css">
</head>
<body>

    <div class="container">
        <form id="contact" action="" method="post">
          <h3>Create a QR Code</h3>
          <h4>Simply enter a data you want to encode, click Submit and get a PDF file</h4>
          <fieldset>
            <input placeholder="Data" type="text" name="data" tabindex="1" required autofocus>
          </fieldset>
            <fieldset>
                <input type="text" name="data2" placeholder="Additional Data">
            </fieldset>

          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
    </div>

</body>
</html>
